*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #000000 0%, rgba(39, 36, 36, 0.7) 100%);
}

#root {
  display: flex;
  flex-direction: column;
  min-width: 360px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: var(--ff-main);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-primary);
  background: linear-gradient(178.73deg, rgba(39, 135, 245, 0.18) -17.53%, rgba(163, 147, 245, 0.18) 131.74%);
}

main {
  flex-grow: 1;
}

img {
  display: block;
  object-fit: cover;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance:none;
}