.loader {
  $color: var(--color-white);
  margin: auto;
  width: 48px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, $color 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, $color);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: spin 1s infinite linear;

  &--small {
    width: 32px;
  }

  &--black {
    $color: var(--color-black);
    background:
      radial-gradient(farthest-side, $color 94%, #0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%, $color);
  }

  @keyframes spin {
    100% {
      transform: rotate(1turn)
    }
  }
}