.rating {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 4px 12px;
  border-radius: 16px;
  background-color: var(--color-lucky);
  color: var(--color-primary);
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  user-select: none;

  svg {
    width: 16px;
    height: 16px;
  }

  &--s {
    width: 47px;
    padding: 2px 8px;
    font-size: 12px;
    line-height: 16px;

    svg {
      width: 10px;
      height: 10px;
    }
  }

  &--good {
    background-color: var(--color-forest-green);
  }

  &--normal {
    background-color: var(--color-grey);
  }

  &--bad {
    background-color: var(--color-fire-brick);
  }  
}